*/.claude/*
bin
*/app/*
*/configs/*
*/docs/*
*/log/*.log
*/log/*.log.gz
asmm8
*/tmp/*
*.log
*.cfg
*.yml
*.yaml
*.md
.env*
.vscode
.idea
Jenkinsfile
sonar-project.properties
dockerfile
Dockerfile
.dockerignore
.git
.gitignore
README.md

