APP_ENV: DEV # DEV,TEST,PROD (DEV and TEST print logs in CMD screen)
LOG_LEVEL: "0"
# panic (zerolog.PanicLevel, 5)
# fatal (zerolog.FatalLevel, 4)
# error (zerolog.ErrorLevel, 3)
# warn (zerolog.WarnLevel, 2)
# info (zerolog.InfoLevel, 1)
# debug (zerolog.DebugLevel, 0)
# trace (zerolog.TraceLevel, -1)
ORCHESTRATORM8:
  Services:
      asmm8: "${ASMM8_URL}"
      naabum8: "${NAABUM8_URL}"
  Exchanges:
    cptm8: "topic" # exchange_name:exchange_type
    notification: "topic"
  asmm8: # service name
    Queue:
      - "cptm8" # exchange name
      - "qasmm8" # queue name
      - 1 # prefetch count
    Routing-keys:
      - "cptm8.asmm8.#" # binding key
    Queue-arguments:
      "x-max-length": 1 # x-queue-type, x-max-length, x-max-length-bytes, x-overflow, x-message-ttl, x-expires, x-max-age, x-stream-max-segment-size-bytes, x-queue-version, x-consumer-timeout, x-single-active-consumer
      "x-overflow": "reject-publish"
    Consumer:
      - "qasmm8"  # queue name
      - "casmm8"  # consumer name
      - "false"   # autoack
  naabum8:
    Queue:
      - cptm8 # exchange name
      # - qnaabum8
      # - cptm8.naabum8.#
      # - 1
    # Queue-arguments:
    #   "x-max-length": 1
    #   "x-overflow": "reject-publish"
    # Consumer:
    #   - "qnaabum8"
    #   - "false"
    #   - "cptm8"
ASMM8:
  # domains:  # List root domains here.
  #   - example.com
  #   - mydomain.com
  runType: fast   # Set to either fast (passive enum) or complete (active enumeration).
  activeWordList: subdomainslite.txt
  activeThreads: 100
# PostgreSQL connection
Database:
  location: "${POSTGRESQL_HOSTNAME}"
  port: 5432
  schema: "public"
  database: "${POSTGRESQL_DB}"
  username: "${POSTGRESQL_USERNAME}"
  password: "${POSTGRESQL_PASSWORD}"
RabbitMQ:
  location: "${RABBITMQ_HOSTNAME}"
  port: 5672
  username: "${RABBITMQ_USERNAME}"
  password: "${RABBITMQ_PASSWORD}"
  pool:
    max_connections:
    min_connections:
    pool.max_idle_time:
    max_lifetime:
    health_check_period:
    connection_timeout:
    retry_attempts: 10
    retry_delay: 5 # seconds